<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chen.interview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BookManagerService"
            android:process=":remote" />

        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.chen.interview.provider.book.provider"
            android:permission="com.chen.interview.PROVIDER"
            android:process=":provider" />

        <activity android:name=".provider.ProviderActivity"></activity>
    </application>

</manifest>